


# --- General / OS ---
.DS_Store
Thumbs.db
.env.local
.env
*.log

-target/
*.class
*.jar
*.war
*.ear
.mvn/
.idea/
*.iml

# --- Go ---
bin/
obj/
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib

node_modules/
build/
dist/
.eslintcache
npm-debug.log*

.vscode/
.project
.settings/
.classpath

/target/

# --- Expo / React Native ---
.expo/
dist/
web-build/

ios/build/
android/build/
android/.gradle/
android/app/build/

.expo-shared/
.metro/